<?php
defined('BASEPATH') OR exit('No direct script access allowed');
?>
<div class="content-page">
    <!-- Start content -->
    <div class="content">
        <div class="container-fluid">
            <!-- Page-Title -->
            <div class="row">
                <div class="col-sm-12">
                    <p class="text-muted page-title-alt"></p>
                </div>
            </div>

            <div class="row">
                <div class="col-md-6 col-lg-6 col-xl-3">
                    <a href="patients">
                        <div class="widget-bg-color-icon card-box fadeInDown animated">
                            <div class="bg-icon bg-icon-info pull-left">
                                <i class="md md-people text-info"></i>
                            </div>
                            <div class="text-right">
                                <h3 class="text-dark" id="DashboardTotalPatient"></h3>
                                <p class="text-muted mb-0">Total Patient</p>
                            </div>
                            <div class="clearfix"></div>
                        </div>
                    </a>
                </div>
                <div class="col-md-6 col-lg-6 col-xl-3">
                    <a href="devices">
                        <div class="widget-bg-color-icon card-box fadeInDown animated">
                            <div class="bg-icon bg-icon-info pull-left">
                                <i class="md md-settings text-info"></i>
                            </div>
                            <div class="text-right">
                                <h3 class="text-dark" id="DashboardTotalDevice"></h3>
                                <p class="text-muted mb-0">Available Devices</p>
                            </div>
                            <div class="clearfix"></div>
                        </div>
                    </a>
                </div>
            </div>
        </div> <!-- container -->
    </div> <!-- content -->



    <footer class="footer text-right">
        &copy; 2019. All rights reserved.
    </footer>

</div>
